.budget-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.budget-budget {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.budget-ellipse2 {
  top: 203px;
  left: 1265px;
  width: 322px;
  height: 322px;
  position: absolute;
}
.budget-nav-bar-rect {
  top: 0px;
  left: -100px;
  width: 1634px;
  height: 91px;
  position: absolute;
}
.budget-logo {
  top: 16.000001907348633px;
  left: 39.999916076660156px;
  width: 171.0000762939453px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.budget-screenshot20240420at1021 {
  top: 0px;
  left: 14.000077247619629px;
  width: 157px;
  height: 67px;
  position: absolute;
}
.budget-text {
  left: 2.2884511947631836px;
  color: rgba(0, 124, 134, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Lilita One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text01 {
  top: 37px;
  left: 278px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text03 {
  top: 37px;
  left: 421px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text05 {
  top: 37px;
  left: 549px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-background {
  top: 91px;
  left: -25px;
  width: 1557px;
  height: 279px;
  position: absolute;
}
.budget-text07 {
  top: 491px;
  left: 340px;
  width: 831px;
  height: 135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.budget-rectangle8 {
  top: 65px;
  left: 34px;
  width: 780px;
  height: 70px;
  position: absolute;
  border-color: rgba(86, 36, 182, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.budget-text08 {
  color: rgba(86, 36, 182, 1);
  width: 831px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text10 {
  top: 82px;
  left: 68px;
  color: rgba(86, 36, 182, 0.5899999737739563);
  width: 583px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text12 {
  top: 188px;
  left: 526px;
  color: rgba(86, 36, 182, 1);
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text13 {
  color: rgba(86, 36, 182, 1);
}
.budget-text14 {
  color: rgba(255, 255, 255, 1);
}
.budget-ellipse6 {
  top: 491px;
  left: -30px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.budget-ellipse7 {
  top: 591px;
  left: -41px;
  width: 158px;
  height: 158px;
  position: absolute;
}
.budget-ellipse5 {
  top: 833px;
  left: -51px;
  width: 101px;
  height: 101px;
  position: absolute;
}
.budget-ellipse3 {
  top: 833px;
  left: 67px;
  width: 239px;
  height: 239px;
  position: absolute;
}
.budget-ellipse1 {
  top: 546px;
  left: 1365px;
  width: 203px;
  height: 203px;
  position: absolute;
}
.budget-ellipse8 {
  top: 837px;
  left: 1076px;
  width: 289px;
  height: 289px;
  position: absolute;
}
.budget-ellipse9 {
  top: 378px;
  left: 56px;
  width: 122px;
  height: 122px;
  position: absolute;
}
.budget-ellipse10 {
  top: 797px;
  left: 1365px;
  width: 122px;
  height: 122px;
  position: absolute;
}

input {
  background-color: transparent;
}
textarea:focus, input:focus{
  outline: none;
}