.budget-container {
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.budget-budget {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.budget-ellipse2 {
  top: 203px;
  left: 1265px;
  width: 322px;
  height: 322px;
  position: absolute;
}
.budget-nav-bar-rect {
  top: 0px;
  left: -100px;
  width: 1632px;
  height: 91px;
  position: absolute;
  background-color: white;
}
.budget-logo {
  top: 16.000001907348633px;
  left: 39.999916076660156px;
  width: 171.0000762939453px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.budget-screenshot20240420at1021 {
  top: 0px;
  left: 14.000077247619629px;
  width: 157px;
  height: 67px;
  position: fixed;
}
.budget-text {
  left: 0px;
  color: rgba(0, 124, 134, 1);
  width: 41px;
  height: auto;
  position: fixed;
  font-size: 60px;
  font-style: Regular;
  text-align: left;
  font-family: Lilita One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text01 {
  top: 37px;
  left: 278px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: fixed;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text03 {
  top: 37px;
  left: 421px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: fixed;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text05 {
  top: 37px;
  left: 549px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: fixed;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.budget-text09 {
  top: 37px;
  left: 668px;
  color: #4c3382bc;
  height: auto;
  position: fixed;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-background {
  top: 77px;
  left: -25px;
  width: 1557px;
  height: 313px;
  position: absolute;
}
.budget-text07 {
  top: 450px;
  left: 23.5%;
  width: 831px;
  height: 135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.budget-rectangle8 {
  top: 65px;
  left: 340px;
  width: 780px;
  height: 70px;
  position: absolute;
  border-color: rgba(86, 36, 182, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  align-items: center;
}
.budget-text08 {
  color: rgba(86, 36, 182, 1);
  width: 831px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text10 {
  top: 82px;
  left: 13%;
  color: rgba(86, 36, 182, 0.5899999737739563);
  width: 583px;
  height: auto;
  position: relative;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  align-items: center;
  text-decoration: none;
}
.budget-text12 {
  top: 200px;
  left: 12%;
  color: rgba(86, 36, 182, 1);
  width: 1200px;
  height: auto;
  position: absolute;
  font-size: 72px;
  font-style: Bold;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.budget-text13 {
  color: rgba(86, 36, 182, 1);
}
.budget-text14 {
  color: rgba(255, 255, 255, 1);
}
.budget-text15 {
  color: #4DC4CE;
}
.budget-ellipse6 {
  top: 491px;
  left: -30px;
  width: 50px;
  height: 80px;
  position: absolute;
}
.budget-ellipse7 {
  top: 591px;
  left: -41px;
  width: 117px;
  height: 158px;
  position: absolute;
}
.budget-ellipse5 {
  top: 833px;
  width: 50px;
  height: 101px;
  position: absolute;
}
.budget-ellipse3 {
  top: 833px;
  left: 67px;
  width: 239px;
  height: 149px;
  position: absolute;
}
.budget-ellipse1 {
  top: 546px;
  left: 1365px;
  width: 147px;
  height: 203px;
  position: absolute;
}
.budget-ellipse8 {
  top: 837px;
  left: 1076px;
  width: 289px;
  height: 145px;
  position: absolute;
}
.budget-ellipse9 {
  top: 378px;
  left: 56px;
  width: 122px;
  height: 122px;
  position: absolute;
}
.budget-ellipse10 {
  top: 797px;
  left: 1365px;
  width: 122px;
  height: 122px;
  position: absolute;
}

input {
  background-color: transparent;
}
textarea:focus, input:focus{
  outline: none;
}

.navbar:hover {
  color: rgb(56, 59, 193, 1);
}

button {
  background-color: #E2D7F8;
  padding: 15px 35px;
  border-radius: 30px;
}

.submit {
  align-items: center;
}

#userInput {
  border: solid;
  border-color: #275a5f;
  background-color: #c6e1e37b;
  width: 560px;
  height: 70px;
  padding: 30px 30px;
  border-radius: 50px;
  margin: 40px;
  align-items: center;
}

p {
  width: 831px;
  height: 135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  padding: 30px;
  font-size: 24px;
}